$percent:100%;
// -------------------- size-px end --------------------
$purple:#21182d;
$purple_1:#17111f;
$purple_2:#0a0116;
$purple_3:#f1eef5;
$purple_4:#565060;
$purple_5:#2c2438;
$purple_6:#1a1324;

$golden:#b5936c;
$golden_1:#fff8f0;

$gray:#c9c9c9;
$gray_1:#707070;
$gray_2:#434343;
$gray_3:#d2d2d2;
$gray_4:#999999;

$white:#fff;

$black:#000;

$red:#e73a33;
$red_2:#e63137;

$blue:#01274c;

$yellow:#ffcb05;

$green:#00a45f;

$orange:#ff7e1c;

$red:#e6162d;
// -------------------- color end ----------------------
// -------------------- font-px end --------------------
// -------------------- number  end --------------------
